In [1]:
import pandas as pd
import numpy as np
import sys
import os
import requests
sys.path.append("../")
from src import puhti_files
from src.common_basis import *

TypeError: here() got an unexpected keyword argument 'warn'

In [2]:
SEED = 42
np.random.seed(SEED)
os.environ["PYTHONHASHSEED"] = str(SEED)
np.random.seed(SEED)

In [3]:
df = puhti_files.genre_data_to_pandas(data="train")

Read in dataset train.csv. Set param 'data' to 'dev', 'test' or 'train' if you want another dataset.

In [4]:
metadata = puhti_files.ecco_metadata_to_pandas()

In [5]:
dict_labels = puhti_files.labels_to_dict()

In [6]:
metadata

,document_id_octavo,publication_year,gatherings,total_price,publication_place,author_id,other_actors
0,0000100100,1723,12mo,NaN,London,98354271,bbti_77907; bbti_72802; 51557323
1,0000100200,1733,8vo,NaN,London,76461649,66340504; bbti_51500; 68786630
2,0000100300,1765,12mo,NaN,London,46318688,bbti_112410; bbti_26196
3,0000100400,1720,12mo,NaN,London,67409380,bbti_4638; bbti_70361
4,0000100501,1703,4to,NaN,London,61784573,20781965; bbti_70360
...,...,...,...,...,...,...,...
275222,1143993,1680,2fo,NaN,London,NaN,bbti_47378
275223,1143994,1678,8vo,NaN,London,66813373,bbti_44765; bbti_42013
275224,1143997,1685,2fo,NaN,Dublin,NaN,samuelhelsham_0; 147809350; andrewcrook_1; 235...
275225,1144469,1689,2fo,NaN,London,NaN,NaN
275226,1144539,1692,2fo,NaN,London,NV23714,19566142

In [7]:
df

,document_id,work_id,main_category,sub_category
0,0745200402,49626-observations on nature and cure of fever...,1,35
1,1373800121,75-proceedings,7,34
2,0577100200,12939-nabob comedy in three acts,0,0
3,0698801300,75-proceedings,7,34
4,1239900100,4096-facts addressed to serious attention of p...,7,27
...,...,...,...,...
24090,0865700108,658-cyclopaedia,4,9
24091,0360100101,22-iliad,2,24
24092,0664401000,36823-modish wife comedy performed with univer...,0,0
24093,1139900101,22-iliad,2,24
24094,1175201000,3947-henry second or fall of rosamond,0,0

In [8]:
dfwmeta = pd.merge(df, metadata, left_on='document_id', right_on='document_id_octavo')

In [9]:
dfwmeta['document_id'].value_counts()[dfwmeta['document_id'].value_counts()>1]

1421401900    6
1407500302    6
1500201400    6
1404500102    6
1407500301    6
             ..
1330901600    2
1708000200    2
1605400102    2
1708000300    2
0630300400    2
Name: document_id, Length: 643, dtype: int64

In [10]:
dfwmeta = dfwmeta.drop_duplicates(subset='document_id', keep="first")

In [11]:
dfwmeta['decade'] = dfwmeta['publication_year'].apply(lambda x: int(str(x)[:-1]+'0'))

In [12]:
dfwmeta[dfwmeta['decade'] == 1770]

,document_id,work_id,main_category,sub_category,document_id_octavo,publication_year,gatherings,total_price,publication_place,author_id,other_actors,decade
0,0745200402,49626-observations on nature and cure of fever...,1,35,0745200402,1779,8vo,NaN,London,88719418,18758830,1770
2,0577100200,12939-nabob comedy in three acts,0,0,0577100200,1778,8vo,NaN,London,29561715,18758830; bbti_62537,1770
10,1595900100,558-proceedings 1773,7,27,1595900100,1773,2fo,NaN,London,NaN,bbti_109800; 123930966; 63907962,1770
11,0555102600,43940-proclamations 1774-09-30,5,16,0555102600,1774,2fo,NaN,London,NaN,121007231; 39467138; 32049673,1770
21,0536000600,50080-lart des armes simplifie ou nouveau trai...,3,6,0536000600,1771,8vo,NaN,London,197295242,51741707; 36757179,1770
...,...,...,...,...,...,...,...,...,...,...,...,...
24774,0450500403,119-gil blas,2,22,0450500403,1771,12mo,NaN,Edinburgh,29536937,willisonanddarling_0,1770
24778,1743800200,32-hymns and spiritual songs in three books,0,1,1743800200,1774,18mo,NaN,London,17298403,bbti_31967; 39467138; 2321741; 132829424; 2333...,1770
24779,1539100101,18-paradise lost poem in twelve books,2,17,1539100101,1773,8vo,NaN,Dublin,17226855,23671597,1770
24789,0664401000,36823-modish wife comedy performed with univer...,0,0,0664401000,1775,8vo,NaN,London,18293409,63907962; 51741707,1770
24791,1175201000,3947-henry second or fall of rosamond,0,0,1175201000,1774,8vo,NaN,London,62913465,51741707; 36757179,1770

In [13]:
dfwmeta.drop(['total_price'],axis=1,inplace=True)

In [14]:
dfwmeta.head()

,document_id,work_id,main_category,sub_category,document_id_octavo,publication_year,gatherings,publication_place,author_id,other_actors,decade
0,0745200402,49626-observations on nature and cure of fever...,1,35,0745200402,1779,8vo,London,88719418,18758830,1770
1,1373800121,75-proceedings,7,34,1373800121,1739,8vo,London,NaN,148513878,1730
2,0577100200,12939-nabob comedy in three acts,0,0,0577100200,1778,8vo,London,29561715,18758830; bbti_62537,1770
3,0698801300,75-proceedings,7,34,0698801300,1712,8vo,London,NaN,148513878,1710
4,1239900100,4096-facts addressed to serious attention of p...,7,27,1239900100,1796,8vo,Dublin,102328114,165333154,1790

In [15]:
dfwmeta['text'] = dfwmeta['document_id'].apply(lambda x: puhti_files.read_text_file(x))

In [16]:
dfwmeta['decade'].value_counts()

1770    4440
1790    4131
1780    3945
1760    3250
1750    2619
1740    1682
1730    1473
1720    1068
1710     731
1700     434
1800     320
1680       2
Name: decade, dtype: int64

In [17]:
ecco_core = pd.read_sql_table("ecco_core", con)

In [18]:
ecco_wdata = pd.merge(dfwmeta, ecco_core, left_on='document_id', right_on='ecco_id')

In [19]:
ecco_document_parts = pd.read_sql_table("ecco_document_parts", con)

In [20]:
ecco_parts_data = pd.merge(ecco_wdata, ecco_document_parts, left_on='document_id', right_on='ecco_id')

In [21]:
english_docs = ecco_parts_data[(ecco_parts_data['ecco_languge'] == 'English') & (ecco_parts_data['document_part_type'] == 'body')]

Only use the decade's from 1720 to 1799. For each decade, sample 700 documents, and create the chunks. For each document, only use 20 chunks. That way we assure that each model is trained with the same amount of data, and we account for a small model. Filter for only documents in english and body part of the document.

In [22]:
english_docs[english_docs['decade'] == 1720].sample(n = 50,random_state=42)

,document_id,work_id,main_category,sub_category,document_id_octavo,publication_year,gatherings,publication_place,author_id,other_actors,...,ecco_date_end,ecco_pages,ecco_languge,ecco_nr_paragraphs,ecco_id_y,document_part_type,document_part_number,document_part_id,document_part_nr_characters,document_part_nr_tokens
121744,0320300101,5434-histoire des chevaliers hospitaliers de s...,4,9,0320300101,1728,2fo,London,59113668,31070598; 68786630; messwoodmanandlyon_0; mess...,...,17289999.0,721.0,English,4885.0,0320300101,body,4.0,23697.0,1825830.0,321285.0
6360,0054600107,143-works of shakespear,6,25,0054600107,1728,12mo,London,96994048,bbti_111939; bbti_105106; bbti_113516; bbti_23...,...,17289999.0,372.0,English,2830.0,0054600107,body,6.0,279757.0,143096.0,26318.0
86956,0054600106,143-works of shakespear,6,25,0054600106,1728,12mo,London,96994048,bbti_111939; bbti_105106; bbti_113516; bbti_23...,...,17289999.0,365.0,English,2667.0,0054600106,body,15.0,279861.0,157381.0,29348.0
51900,0081600135,X-the works of the english poets,2,21,0081600135,1725,8vo,London,NaN,bbti_116780; blaw_1; 7406725; tlowndes_0; bbti...,...,17799999.0,374.0,English,824.0,0081600135,body,17.0,284624.0,51771.0,8796.0
96811,0195900300,211-english physitian enlarged with three hund...,1,35,0195900300,1725,12mo,London,52492152,36768263; bbti_107794; 29437883; bbti_111939,...,17259999.0,411.0,English,2671.0,0195900300,body,3.0,72027.0,839960.0,146883.0
82676,0624402102,1800-lettres persanes,8,30,0624402102,1722,12mo,London,27069096,bbti_40786; 330654; bbti_15414,...,17229999.0,320.0,English,1461.0,0624402102,body,2.0,162439.0,252757.0,44413.0
119896,0339300203,22-iliad,2,24,0339300203,1720,12mo,London,224924963,61551003; 46815338; 34509981,...,17209999.0,225.0,English,1211.0,0339300203,body,4.0,427835.0,101850.0,18170.0
126496,0531700901,6037-works of john sheffield earl of mulgrave ...,2,21,0531700901,1723,4to,London,7818454,NV2330,...,17239999.0,454.0,English,2418.0,0531700901,body,12.0,359695.0,65424.0,11762.0
113128,0081600137,X-the works of the english poets,2,21,0081600137,1725,8vo,London,NaN,bbti_116780; blaw_1; 7406725; tlowndes_0; bbti...,...,17799999.0,327.0,English,1010.0,0081600137,body,14.0,284612.0,53846.0,9308.0
98958,0304802401,1242-fair quaker of deal or humours of navy,0,0,0304802401,1720,8vo,Dublin,52613203,136684655; patrickdugan_0; 310527649; josephle...,...,17209999.0,348.0,English,2843.0,0304802401,body,12.0,331390.0,29344.0,5470.0
101327,1611301300,1856-character of independent whig,7,27,1611301300,1720,8vo,London,282262653,228716377,...,17299990.0,32.0,English,261.0,1611301300,body,4.0,813401.0,50780.0,8888.0
49568,0883000100,91-poetical works of john milton consisting of...,2,17,0883000100,1721,12mo,London,17226855,1565494,...,17219999.0,398.0,English,1079.0,0883000100,body,10.0,441319.0,24541.0,4384.0
34204,0745000102,97-odyssey,7,27,0745000102,1725,4to,London,224924963,34509981; 61551003,...,17259999.0,308.0,English,1499.0,0745000102,body,13.0,389509.0,19697.0,3431.0
125007,0081700144,X-the works of the english poets,2,21,0081700144,1725,8vo,London,NaN,bbti_116780; blaw_1; 7406725; tlowndes_0; bbti...,...,17799999.0,404.0,English,1373.0,0081700144,body,11.0,284749.0,115324.0,20767.0
43604,0534300104,22-iliad,2,24,0534300104,1722,12mo,London,224924963,77124830; 34509981,...,17229999.0,245.0,English,1104.0,0534300104,body,3.0,359840.0,380645.0,70568.0
49563,0883000100,91-poetical works of john milton consisting of...,2,17,0883000100,1721,12mo,London,17226855,1565494,...,17219999.0,398.0,English,1079.0,0883000100,body,5.0,441291.0,89676.0,16189.0
95504,0081600138,X-the works of the english poets,2,21,0081600138,1725,8vo,London,NaN,bbti_116780; blaw_1; 7406725; tlowndes_0; bbti...,...,17799999.0,285.0,English,653.0,0081600138,body,36.0,284750.0,28557.0,4953.0
2375,0016100307,X-arabian nights entertainments,2,24,0016100307,1725,12mo,London,NaN,12361047,...,17259999.0,194.0,English,826.0,0016100307,body,3.0,271439.0,285961.0,52759.0
3688,0054600108,143-works of shakespear,6,25,0054600108,1728,12mo,London,96994048,bbti_111939; bbti_105106; bbti_113516; bbti_23...,...,17289999.0,500.0,English,4113.0,0054600108,body,18.0,279999.0,151784.0,28797.0
18850,0485400106,X-the spectator,2,20,0485400106,1728,12mo,Dublin,NaN,72798292,...,17289999.0,372.0,English,1549.0,0485400106,body,3.0,355638.0,568811.0,102324.0
36100,0081500121,X-the works of the english poets,2,21,0081500121,1725,8vo,London,NaN,bbti_116780; blaw_1; 7406725; tlowndes_0; bbti...,...,17799999.0,352.0,English,1618.0,0081500121,body,9.0,284459.0,7163.0,1080.0
29522,1264900201,895-history of his own time,4,9,1264900201,1725,8vo,London,22151653,companyofbooksellers_1,...,17259999.0,540.0,English,1676.0,1264900201,body,5.0,60461.0,812213.0,144925.0
11042,0404501000,156-an abridgment of mr lockes essay concernin...,8,32,0404501000,1728,8vo,Dublin,34459614,34511788; 22007688,...,17289999.0,48.0,English,219.0,0404501000,body,3.0,437019.0,33635.0,5806.0
45509,0559002802,X-arabian nights entertainments,2,24,0559002802,1725,12mo,London,NaN,bbti_111940; 12361047,...,17259999.0,151.0,English,676.0,0559002802,body,2.0,364025.0,238440.0,44289.0
126367,0778001300,X-a letter to a member of parliament,7,27,0778001300,1724,8vo,London,NaN,bbti_109907,...,17249999.0,22.0,English,113.0,0778001300,body,2.0,175177.0,24070.0,4232.0
6104,0081300104,X-the works of the english poets,2,21,0081300104,1725,8vo,London,NaN,bbti_116780; blaw_1; 7406725; tlowndes_0; bbti...,...,17799999.0,236.0,English,675.0,0081300104,body,14.0,284361.0,21863.0,4037.0
95492,0081600138,X-the works of the english poets,2,21,0081600138,1725,8vo,London,NaN,bbti_116780; blaw_1; 7406725; tlowndes_0; bbti...,...,17799999.0,285.0,English,653.0,0081600138,body,24.0,284709.0,21012.0,3552.0
89223,0386500800,250-catos political letters in london journal,8,31,0386500800,1721,8vo,London,282262653,228716377,...,17219999.0,78.0,English,318.0,0386500800,body,3.0,144556.0,98830.0,17103.0
93600,0081400120,X-the works of the english poets,2,21,0081400120,1725,8vo,London,NaN,bbti_116780; blaw_1; 7406725; tlowndes_0; bbti...,...,17799999.0,431.0,English,1779.0,0081400120,body,8.0,423224.0,105763.0,18806.0
126274,0507001401,160-gullivers travels,2,22,0507001401,1726,8vo,London,14777110,311426459,...,17269999.0,334.0,English,949.0,0507001401,body,8.0,356895.0,135394.0,24369.0
46231,0454200101,6037-works of john sheffield earl of mulgrave ...,2,21,0454200101,1723,4to,London,7818454,NV2330,...,17239999.0,458.0,English,2425.0,0454200101,body,6.0,349657.0,47755.0,8760.0
28727,0054500203,143-works of shakespear,6,25,0054500203,1728,12mo,London,96994048,bbti_111939; bbti_105106; bbti_113516; bbti_23...,...,17289999.0,458.0,English,3491.0,0054500203,body,23.0,279798.0,145697.0,26957.0
128488,0572900301,3430-treatise of pleas of crown,5,14,0572900301,1728,8vo,London,100286384,24497251; 19591103; bbti_106365; bbti_72801,...,17289999.0,541.0,English,3949.0,0572900301,body,3.0,253675.0,452178.0,84312.0
78294,0009700103,X-arabian nights entertainments,2,24,0009700103,1728,12mo,Dublin,NaN,georgerisk_0; georgeewing_0; 187519562; willia...,...,17289999.0,102.0,English,518.0,0009700103,body,1.0,270601.0,210129.0,38809.0
65116,0285100400,3-public general acts,5,13,0285100400,1725,2fo,Dublin,158208597,121010650; andrewcrook_1,...,17259999.0,144.0,English,797.0,0285100400,body,15.0,246454.0,9112.0,1598.0
51903,0081600135,X-the works of the english poets,2,21,0081600135,1725,8vo,London,NaN,bbti_116780; blaw_1; 7406725; tlowndes_0; bbti...,...,17799999.0,374.0,English,824.0,0081600135,body,20.0,284653.0,30855.0,5407.0
92879,0268200800,160-gullivers travels,2,22,0268200800,1727,12mo,London,14777110,bbti_112837; bbti_66610,...,17279999.0,342.0,English,945.0,0268200800,body,4.0,322963.0,73315.0,13056.0
113149,0081600137,X-the works of the english poets,2,21,0081600137,1725,8vo,London,NaN,bbti_116780; blaw_1; 7406725; tlowndes_0; bbti...,...,17799999.0,327.0,English,1010.0,0081600137,body,35.0,284756.0,36034.0,6512.0
42152,0586100900,962-magnae britanniae notitia or present state...,7,33,0586100900,1728,8vo,London,59432695,bbti_116779; 311426459; 173741386; 231002232; ...,...,17289999.0,795.0,English,4757.0,0586100900,body,7.0,159361.0,480694.0,78851.0
41278,1577401300,57-beggars opera,2,4,1577401300,1728,8vo,Dublin,2480890,georgerisk_0; 187519562; georgeewing_0; willia...,...,17289999.0,25.0,English,616.0,1577401300,body,4.0,750107.0,32004.0,5514.0
119310,1076900400,116-orphan or unhappy marriage,2,4,1076900400,1726,12mo,Dublin,56618493,jameswatts_0,...,17269999.0,80.0,English,520.0,1076900400,body,3.0,453545.0,111430.0,20992.0
79377,0081700153,X-the works of the english poets,2,21,0081700153,1725,8vo,London,NaN,bbti_116780; blaw_1; 7406725; tlowndes_0; bbti...,...,17799999.0,343.0,English,1040.0,0081700153,body,3.0,284806.0,30222.0,5045.0
111271,1629000600,1-liturgies,9,29,1629000600,1720,12mo,London,135203514,bbti_33480; 12361109; 30718937,...,17299990.0,316.0,English,8188.0,1629000600,body,4.0,675409.0,754576.0,137506.0
46243,0454200101,6037-works of john sheffield earl of mulgrave ...,2,21,0454200101,1723,4to,London,7818454,NV2330,...,17239999.0,458.0,English,2425.0,0454200101,body,18.0,349718.0,78112.0,14396.0
29687,0359400400,265-histoire des revolutions de suède,4,9,0359400400,1727,8vo,Dublin,59113668,72798292,...,17279999.0,384.0,English,1810.0,0359400400,body,6.0,25686.0,503291.0,85087.0
20320,0702800101,3985-works of sir william temple bart,8,31,0702800101,1720,2fo,London,120156167,bbti_107835; bbti_77907; 248202931; bbti_10990...,...,17209999.0,483.0,English,2917.0,0702800101,body,10.0,385201.0,239478.0,43516.0
5103,1624900300,1-liturgies,9,29,1624900300,1721,12mo,Oxford,135203514,bbti_4479,...,17219999.0,104.0,English,6077.0,1624900300,body,4.0,674713.0,318398.0,61259.0
103842,0144800105,98-histoire dangleterre,4,9,0144800105,1728,8vo,London,59111095,147002053,...,17289999.0,510.0,English,3427.0,0144800105,body,3.0,11363.0,1063178.0,190771.0
92217,1076900500,1251-royal convert,0,0,1076900500,1726,8vo,Dublin,19751395,187519562; georgerisk_0,...,17269999.0,68.0,English,394.0,1076900500,body,3.0,453549.0,95732.0,17048.0
105376,0456300702,265-histoire des revolutions de suède,4,9,0456300702,1721,8vo,London,59113668,1565494; bbti_114404; bbti_53584,...,17219999.0,443.0,English,1970.0,0456300702,body,4.0,29341.0,771466.0,134339.0

In [23]:
english_docs['main_category'].value_counts()

2    12630
9     3584
0     3400
4     3193
5     2372
1     2356
8     1824
6     1701
7      756
3      742
Name: main_category, dtype: int64

In [24]:
cat2 = english_docs[english_docs['main_category']==2].sample(n = 3600,random_state=42)
dif = english_docs[english_docs['main_category']!=2]

In [25]:
sub_sample = pd.concat([cat2,dif])

In [26]:
sub_sample['main_category'].value_counts()

2    3600
9    3584
0    3400
4    3193
5    2372
1    2356
8    1824
6    1701
7     756
3     742
Name: main_category, dtype: int64

In [27]:
english_docs[english_docs['main_category']==2]

,document_id,work_id,main_category,sub_category,document_id_octavo,publication_year,gatherings,publication_place,author_id,other_actors,...,ecco_date_end,ecco_pages,ecco_languge,ecco_nr_paragraphs,ecco_id_y,document_part_type,document_part_number,document_part_id,document_part_nr_characters,document_part_nr_tokens
30,1130000106,39-whole works of homer translated by alexande...,2,21,1130000106,1737,8vo,London,61551003,228716377,...,17379999.0,318.0,English,1418.0,1130000106,body,3.0,460638.0,471434.0,88595.0
35,0870000104,39-whole works of homer translated by alexande...,2,21,0870000104,1769,4to,London,61551003,40811864; 32051321; 132829424; bbti_116713; 29...,...,17699999.0,519.0,English,2893.0,0870000104,body,3.0,406021.0,837205.0,157530.0
37,0870000104,39-whole works of homer translated by alexande...,2,21,0870000104,1769,4to,London,61551003,40811864; 32051321; 132829424; bbti_116713; 29...,...,17699999.0,519.0,English,2893.0,0870000104,body,5.0,406162.0,6696.0,1215.0
54,0660101902,215-diable boiteux,2,22,0660101902,1729,12mo,London,29536937,330654,...,17299999.0,320.0,English,1174.0,0660101902,body,4.0,379304.0,260875.0,47069.0
58,0862400125,X-the works of the english poets,2,21,0862400125,1790,8vo,London,NaN,bbti_110244; 262030874; bbti_51169; 12162986; ...,...,17909999.0,320.0,English,1507.0,0862400125,body,3.0,404473.0,124859.0,22430.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128891,1139900101,22-iliad,2,24,1139900101,1791,12mo,Dublin,224924963,johnhalpen_0; 61551003; johnrice_0; johncolles_0,...,17919999.0,351.0,English,1644.0,1139900101,body,4.0,461638.0,147439.0,26248.0
128894,1139900101,22-iliad,2,24,1139900101,1791,12mo,Dublin,224924963,johnhalpen_0; 61551003; johnrice_0; johncolles_0,...,17919999.0,351.0,English,1644.0,1139900101,body,7.0,461648.0,102482.0,18300.0
128897,1139900101,22-iliad,2,24,1139900101,1791,12mo,Dublin,224924963,johnhalpen_0; 61551003; johnrice_0; johncolles_0,...,17919999.0,351.0,English,1644.0,1139900101,body,10.0,461666.0,137252.0,24691.0
128900,1139900101,22-iliad,2,24,1139900101,1791,12mo,Dublin,224924963,johnhalpen_0; 61551003; johnrice_0; johncolles_0,...,17919999.0,351.0,English,1644.0,1139900101,body,13.0,461678.0,80628.0,14592.0
128903,1139900101,22-iliad,2,24,1139900101,1791,12mo,Dublin,224924963,johnhalpen_0; 61551003; johnrice_0; johncolles_0,...,17919999.0,351.0,English,1644.0,1139900101,body,16.0,461688.0,70107.0,12615.0

In [28]:
english_docs['sub_category'].value_counts()

17    2931
21    2822
0     2743
9     2608
29    2298
4     1916
25    1701
24    1626
22    1566
26    1286
13    1123
35     716
30     656
31     608
11     601
10     585
1      580
32     560
23     527
27     510
6      465
19     441
20     411
14     391
18     390
3      380
36     264
5      232
40     223
39     222
28     186
12     161
38     158
34     151
37     125
33      95
15      89
7       82
2       77
8       28
42      14
16       7
41       3
Name: sub_category, dtype: int64

In [29]:
sub_sample[:700]

,document_id,work_id,main_category,sub_category,document_id_octavo,publication_year,gatherings,publication_place,author_id,other_actors,...,ecco_date_end,ecco_pages,ecco_languge,ecco_nr_paragraphs,ecco_id_y,document_part_type,document_part_number,document_part_id,document_part_nr_characters,document_part_nr_tokens
90742,0081902900,7051-concubine poem,2,17,0081902900,1777,4to,London,4940759,bbti_110285; bbti_24646; 262030874,...,17779999.0,78.0,English,618.0,0081902900,body,3.0,285124.0,58776.0,10070.0
119396,0454801400,7197-poems of mark akenside m,2,17,0454801400,1772,4to,London,22217492,14825513; 314332; 100250810,...,17729999.0,379.0,English,1649.0,0454801400,body,28.0,350060.0,32581.0,5471.0
43902,0961300900,131-heroides,2,24,0961300900,1759,8vo,London,88342447,bbti_57984,...,17599999.0,372.0,English,1838.0,0961300900,body,53.0,443548.0,24350.0,4386.0
116911,0198700501,49766-poetical works of edmund spenser,2,17,0198700501,1778,18mo,Edinburgh,100170015,NaN,...,17789999.0,263.0,English,811.0,0198700501,body,4.0,309751.0,171583.0,29315.0
81995,1395502600,X-the tragical history of the children in the ...,2,22,1395502600,1790,8vo,York,NaN,bbti_47234; bbti_12673; bbti_76976; bbti_46215...,...,17999990.0,94.0,English,505.0,1395502600,body,4.0,733282.0,72884.0,13103.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14272,0013700201,172-tom jones,2,22,0013700201,1780,24mo,London,61545697,NV33138,...,17809999.0,122.0,English,402.0,0013700201,body,4.0,271262.0,205767.0,36566.0
44452,0478400105,938-orlando furioso,2,24,0478400105,1785,8vo,London,71386455,bbti_50497,...,17859999.0,436.0,English,1874.0,0478400105,body,7.0,353184.0,45075.0,7784.0
11128,0339300206,22-iliad,2,24,0339300206,1720,12mo,London,224924963,61551003; 46815338; 34509981,...,17209999.0,248.0,English,1509.0,0339300206,body,10.0,427909.0,87402.0,15426.0
128805,1525100100,13064-poems by rev,2,17,1525100100,1789,8vo,London,90717980,18758830,...,17899999.0,112.0,English,1441.0,1525100100,body,4.0,743829.0,59300.0,10629.0
120433,0296400101,39-whole works of homer translated by alexande...,2,21,0296400101,1785,2fo,Glasgow,61551003,andrewfoulis_0,...,17859999.0,331.0,English,1169.0,0296400101,body,13.0,329239.0,8966.0,1531.0

In [30]:
sampled_df_train = pd.DataFrame()
sampled_df_test = pd.DataFrame()
for i in range(1720,1800,10):
    samples = sub_sample[sub_sample['decade'] == i].sample(n = 1000,random_state=42)
    samples_train,samples_test = samples[:800],samples[800:]
    sampled_df_train = pd.concat([sampled_df_train,samples_train])
    sampled_df_test = pd.concat([sampled_df_test,samples_test])

In [31]:
sampled_df_train['decade'].value_counts()

1720    800
1730    800
1740    800
1750    800
1760    800
1770    800
1780    800
1790    800
Name: decade, dtype: int64

In [32]:
sampled_df_train['main_category'].value_counts()

2    1056
9     998
0     896
4     837
5     642
1     582
8     521
6     464
7     223
3     181
Name: main_category, dtype: int64

In [33]:
sampled_df_train['sub_category'].value_counts()

0     728
9     692
29    630
25    464
26    368
13    316
21    284
17    222
32    189
11    178
31    166
30    166
35    162
4     150
1     148
10    145
27    139
24    125
22    121
6     109
3      93
14     92
36     67
40     65
5      64
28     58
34     53
39     49
20     47
23     41
38     40
12     36
19     35
18     31
33     31
37     27
7      21
2      20
15     18
8       5
16      2
42      2
41      1
Name: sub_category, dtype: int64

In [34]:
sampled_df_test['decade'].value_counts()

1720    200
1730    200
1740    200
1750    200
1760    200
1770    200
1780    200
1790    200
Name: decade, dtype: int64

In [35]:
sampled_df_test['main_category'].value_counts()

2    273
4    227
0    220
9    215
1    167
5    165
8    127
6    107
7     61
3     38
Name: main_category, dtype: int64

In [36]:
def small_clean(df):
    df['text'] = df['text'].str.lower()
    df['text'] = df["text"].str.replace('\s+', ' ', regex=True)
    #df['text'] = df['text'].str.replace(r'[^A-Za-z0-9]+', ' ', regex=True)
    return df

In [37]:
sampled_df_train = small_clean(sampled_df_train)
sampled_df_test = small_clean(sampled_df_test)

In [38]:
#sampled_df['text'] = sampled_df["text"].str.replace('\s+', ' ', regex=True)

In [39]:
#sampled_df['text'] = sampled_df['text'].str.replace(r'[^A-Za-z0-9]+', ' ', regex=True)

In [40]:
from gensim.models import Word2Vec
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords

In [41]:
nltk.download("stopwords")
nltk.download("punkt")

[nltk_data] Downloading package stopwords to
[nltk_data]     /users/sebarodr/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /users/sebarodr/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [42]:
def clean_text_gtext(text,tokenizer,stopwords):
    tokens = tokenizer(text)
    tokens = [t for t in tokens if len(t) > 2]  # Remove short tokens
    tokens = [t for t in tokens if not t in stopwords]
    
    return " ".join(tokens)

In [ ]:
stop_words = stopwords.words("english")
sampled_df_train["clean_t"] =sampled_df_train["text"].map(lambda x: clean_text_gtext(x, word_tokenize, stop_words))
sampled_df_test["clean_t"] =sampled_df_test["text"].map(lambda x: clean_text_gtext(x, word_tokenize, stop_words))

In [ ]:
from contextualized_topic_models.models.ctm import ZeroShotTM
from contextualized_topic_models.utils.data_preparation import TopicModelDataPreparation
from contextualized_topic_models.utils.preprocessing import WhiteSpacePreprocessingStopwords

In [ ]:
def create_chunks(row):
    arr = row['clean_t'].split()
    n = 128
    chunks = [" ".join(arr[i:i+n]) for i in range(0, len(arr), 1152)]
    return pd.DataFrame({'chunk': chunks ,'document_id':row['document_id'],'decade':row['decade']})

In [ ]:
a = sampled_df_train.apply(lambda x: create_chunks(x),axis=1)

In [ ]:
chunks_df = pd.DataFrame()
for i,row in a.items():
    chunks_df = pd.concat([chunks_df,row])

In [ ]:
tp_models = []
models = []
training_sets = []

In [ ]:
stopwords_set = set(list(stop_words))

In [ ]:
chunks_df['document_id'].value_counts()

Pipeline:
1. Get the chunks
2. Preprocess them
3. Train the topic model data preparation embeddings 
4. Train the actual ZeroShotTM model, with 10 components
5. Save the preprocessing model, save the dataset, save the ZeroShotTM model

This can take a lot, it is training 8 models.

In [ ]:
stopwords_list = requests.get("https://gist.githubusercontent.com/rg089/35e00abf8941d72d419224cfd5b5925d/raw/12d899b70156fd0041fa9778d657330b024b959c/stopwords.txt").content
stopwords = set(stopwords_list.decode().splitlines())
stopwords.remove('thou')

In [ ]:
def pipeline(n_clusters = 10):
    tp_models = []
    models = []
    training_sets = []
    for i in range(1720,1800,10):
        documents = chunks_df[chunks_df['decade'] == i]["chunk"].tolist()
        sp = WhiteSpacePreprocessingStopwords(documents, stopwords_list=stopwords_set)
        sp.stopwords.update(stopwords)
        ecco_stop_list = ['rs', 'un', 'lie', 'ce', 'anti', 'lat', 'li', 'ir', 'et', 'pre', 'iv', 'tt', 'tl', 'de', 'tbe', 'ann', 'thle', 'viii', 'id', 'xii', 'lo', 'ibid', 'toe', 'xi', 'con', 'ti', 'er', 'vi', 'pro', 'vii', 'nd', 'wh', 'iz', 'zo', 'lr', 'non', 'ne', 'ii', 'le', 'ri', 'fr', 'en', 'al', 'tit', 'te', 'iii', 'cap', 'ij', 'til', 'hi', 'lon', 'fe', 'ib', 'tie', 'oo', 'la', 'di', 'pr', 'ie', 'ith', 'sect', 'ut', 'com', 'ol', 'ot', 'lib', 'ix', 'ex', 'par', 'ac', 'anp', 'ci', 'th', 'si', 'tr', 'quod', 'les', 'eft', 'que', 'bp', 'ed', 'ant', 'ano', 'ca', 'vide', 'es', 'du', 'lt', 'ch', 'vol', 'lit', 'ni', 'ditto', 'co', 'il', 'ro', 'cl', 'tile', 'ic', 'dc', 'cc', 'io', 'ai', 'per', 'ad', 'cr', 'chap', 'anno', 'tle', 'oi', 'ar', 'ill', 'inl', 'ly', 'thie', 'ha', 'geo fol', 'pa', 'andl', 'tha', 'thi', 'ta', 'mi', 'die', 'tlhe', 'stat', 'ihe', 'anld', 'qui', 'vel', 'ter', 'ver', 'ji', 'ani', 'thc', 'ili', 'regis', 'ld', 'anl', 'tlie', 'des', 'thec', 'andi', 'ire', 'andl', 'thi', 'fol', 'ta', 'pa', 'mi', 'ing', 'anld', 'andi', 'ihe', 'tha', 'tlhe', 'ion', 'tlie', 'geo', 'vel', 'ani', 'ld', 'car', 'ter', 'cum', 'ul', 'qui', 'ji', 'ich', 'ind', 'ate', 'anid', 'ere', 'thc','tte','lis']
        sp.stopwords.update(ecco_stop_list)
        preprocessed_documents, unpreprocessed_corpus, vocab, retained_indices = sp.preprocess()
        tp = TopicModelDataPreparation("paraphrase-multilingual-mpnet-base-v2")
        training_dataset = tp.fit(text_for_contextual=unpreprocessed_corpus, text_for_bow=preprocessed_documents)
        ctm = ZeroShotTM(bow_size=len(tp.vocab), contextual_size=768, n_components=n_clusters, num_epochs=20)
        ctm.fit(training_dataset)
        tp_models.append(tp)
        models.append(ctm)
        training_sets.append(training_dataset)
    return tp_models,models,training_sets

In [ ]:
tp_models,models,training_sets = pipeline(n_clusters = 10)

In [ ]:
test_chunks = sampled_df_test.apply(lambda x: create_chunks(x),axis=1)
chunks_df_test = pd.DataFrame()
for i,row in test_chunks.items():
    chunks_df_test = pd.concat([chunks_df_test,row])

test_sets = []
count = 0
for i in range(1720,1800,10):
    test_sets.append(tp_models[count].transform(chunks_df_test[chunks_df_test['decade'] == i]["chunk"].tolist()) )
    count += 1

In [ ]:
#models[0].save(models_dir="./ctm_models")

In [ ]:
#ctm = ZeroShotTM(bow_size=len(tp_models[0].vocab), contextual_size=768, n_components=10, num_epochs=20)
#ctm.load("contextualized_topic_model_nc_10_tpm_0.0_tpv_0.9_hs_prodLDA_ac_(100, 100)_do_softplus_lr_0.2_mo_0.002_rp_0.99",
#                                                                                                      epoch=19)

In [ ]:
lda_vis_data = models[0].get_ldavis_data_format(tp_models[0].vocab, training_sets[0],500)

In [ ]:
import pyLDAvis as vis
movies_pd = vis.prepare(**lda_vis_data)
vis.display(movies_pd)

In [ ]:
lda_vis_data = models[1].get_ldavis_data_format(tp_models[1].vocab, training_sets[1],500)

In [ ]:
movies_pd = vis.prepare(**lda_vis_data)
vis.display(movies_pd)

In [ ]:
tp_models

In [ ]:
training_sets

In [ ]:
import pickle

In [ ]:
for i in range(8):
    with open('./Training_sets/training_set'+str(i)+'.pickle', 'wb') as handle:
        pickle.dump(training_sets[i], handle, protocol=pickle.HIGHEST_PROTOCOL)
    with open('./tp_models/tp_model'+str(i)+'.pickle', 'wb') as handle:
        pickle.dump(tp_models[i], handle, protocol=pickle.HIGHEST_PROTOCOL)
    with open('./Test_sets/test_set'+str(i)+'.pickle', 'wb') as handle:
        pickle.dump(test_sets[i], handle, protocol=pickle.HIGHEST_PROTOCOL)

In [ ]:
for i in range(8):
    models[i].save(models_dir="./ctm_models"+str(i))

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import wordcloud

In [ ]:
figure, axis = plt.subplots(2, 5, figsize=(16,12),squeeze=False)
for i in range(10):
    word_score_list = models[0].get_word_distribution_by_topic_id(i)[:10]
    word_score_dict = {tup[0]: tup[1] for tup in word_score_list}
    axis[i%2, i%5].title.set_text("Displaying Topic " + str(i))
    axis[i%2, i%5].imshow(wordcloud.WordCloud(
                width=200, height=200, background_color="black"
            ).generate_from_frequencies(word_score_dict))

plt.show()